.wetterdaten-fav-icon {
  z-index: 10000;
  left: 100%;
  top: 2%;
  transform:translate(-310%, 30%);
  position: fixed;
  font-size: 18px;
  cursor: pointer;
}

.wetterdaten-card {
  margin-top: 20px;
  position: relative;
}

.wetterdaten-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5%;
}